# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.Zip
PCC-0027-00019-1/Released/18SOP_N.PcbLib
PCC-0151-00021-1/Released/TI-N18.PcbLib
SYM-0027-00075-1/Released/RF-ENC-HT12A-IL20.SchLib
__Previews/flipdot.$$$Preview
*.SchDocPreview
CMP-0201-00001-1.CmpLib
*.LOG
*.PcbDocPreview
